/* You can add global styles to this file, and also import other style files */
@import url("assets/stylesheets/JSONEditor.css");

.test-wrap {
	display: flex;
}

.json-editor {
	width:50vw;
	height: 90vh;
}
.text-editor {
	width:50vw;
	height: 90vh;
	position: relative;
}

.render-area {
	width:50vw;
	height: 90vh;
	padding: 0 10px 10px;
	resize: none;
	color: #000;
	border: 1px solid #e6e6e6;
	border-top: 0;
	border-radius: 3px;
	background: #fff;
	position: relative;
	overflow-y: auto;
}

.render-element {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 200px;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}